/*------------
 Global Reset
------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------
 Embed Font
------------*/
@font-face {
  font-family: "Sabon Next LT Pro Regular";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/SabonNextLTPro-Regular.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro Regular";
  font-weight: normal;
  font-style: italic;
  src: url(../Tools/Fonts/SabonNextLTPro-Italic.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro Regular";
  font-weight: bold;
  font-style: normal;
  src: url(../Tools/Fonts/SabonNextLTPro-Bold.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro Display";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/SabonNextLTPro-Display.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro Display";
  font-weight: normal;
  font-style: italic;
  src: url(../Tools/Fonts/SabonNextLTPro-DisplayIt.otf);
  }
@font-face {
  font-family: "TheMix 5-Regular Caps";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/TheMix-RegularCaps.otf);
  }
/*------------
 Layout
------------*/
body {
  padding: 1%;
  font-family: "Sabon Next LT Pro Regular", serif;
  line-height: 1.2em;
  font-size: 1em;
}
#introquote, #titlepage, #copyright {
  margin: 0 12%;
  padding-top: 18%;
}
#introquote2 {
  margin: 0 24%;
  padding-top: 18%;
}
div.widows {
  page-break-inside:avoid;
}
/*------------
 Headings
------------*/
h1 {
  margin: 0 /*topmargin*/ 4% 6% 4%;
  padding-top: 12%;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.6em;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  font-family: "Sabon Next LT Pro Display", serif;
  text-transform: none;
}
h2 {
  margin: 1.2em 4%;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-family: "TheMix 5-Regular Caps", sans-serif;
  /*font-variant: small-caps;*/
}
h2.intro {
  margin: 5% 0;
  font-style: normal;
  text-align: center;
  font-size: 1.1em;
  text-indent: 0;
  letter-spacing: 0.1em;
  /*text-transform:uppercase;*/
}
#DN16 h2 {
  text-align: center;
  font-weight: bold;
  margin: 5%;
  letter-spacing: 0;
}
h3 {
  margin: 2em 0 1em 4%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
}
h4 {
  margin: 2em 0 1em 0;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 0;
}
h5 {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
}
#titlepage h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  margin: 0 0 6% 0;
  text-transform: uppercase;
  font-family: "Sabon Next LT Pro Display", serif;
  letter-spacing: 0.05em;
  line-height: 1em;
  font-variant: normal;
}
#titlepage h3 {
  text-align: center;
  font-style: normal;
  margin: 0;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Sabon Next LT Pro Display", serif;
}
#titlepage h4 {
  text-align: center;
  margin: 12% 0 0 0;
  font-size: 1.2em;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0.1em;
  /*font-variant: small-caps;*/font-family: "Sabon Next LT Pro Display", serif;
  line-height: 1em;
}
#titlepage h4 + h4 {
  margin-top: 4%;
  margin-bottom: 12%;
  font-size: 1.6em;
  letter-spacing: 0;
  text-transform: uppercase;
}
#titlepage h4 + h3 {
  text-transform: none;
  margin-bottom: 4%;
  font-size: 1.2em;
}
#titlepage h5 {
  margin: 0;
  font-size: 1.6em;
  letter-spacing: 0.025em;
  font-style: italic;
  font-family: "Sabon Next LT Pro Display", serif;
  line-height: 1em;
}
#titlepage h5 + h5 {
  margin-top: 4%;
  font-size: 1.5em;
}
/*------------
Copyright Page
------------*/
#copyright {
  font-size: 0.9em;
}
#copyright p {
  margin: 0;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}
#copyright h2 {
  text-indent: -4%;
  text-align: left;
  margin: 0 0 0.3em 0;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  font-family: "TheMix 5-Regular Caps", sans-serif;
  font-style: normal;
}
#copyright p + h2 {
  margin-top: 0.6em !important;
}
/*#copyright {
  /*margin: 12% 12%;
  font-size: 0.9em;
}
#copyright p {
  margin: 0;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}
#copyright h2 {
  text-indent: -8%;
  text-align: left;
  font-size: 1em;
  margin-bottom: 0.6em;
  letter-spacing: 0.1em;
  font-family: TheMix, sans-serif;
  font-variant:normal;
}*/
/*------------
 Paragraphs
------------*/
p {
  text-indent: 4%;
  margin: 0.2em 0;
}
.iblock {
  margin: 0.8em 4%;
}
.iblock p {
  margin: 0;
}
.block {
  margin: 0.8em 4%;
}
.block p {
  margin: 0.4em 0;
  text-indent: 0;
}
.dblock {
  margin: 0.8em 8%;
}
.dblock p {
  margin: 0;
  text-indent: 0;
}
.hdblock {
  margin: 0.8em 8%;
}
.hdblock p {
  margin: 0;
  text-indent: 0;
}
.hdblock p.hang {
  margin-left: -4%;
}
.hdblock p.add {
  margin-top: 0.4em;
}
.sq-list {
  margin: 0.6em 0;
}
.sq-list p {
  margin: 0;
}
.pbreak {
  margin: 0.8em 0;
}
.note {
  margin: 0.6em 4%;
  font-size: 0.88em;
}
.note p {
  margin: 0;
}
.note p.notetitle {
  font-size: 1.2em;
  margin-top: 2.4%;
  margin-bottom: 1.2%;
  text-indent: 0;
  letter-spacing: 0.1em;
  font-family: "TheMix 5-Regular Caps", sans-serif;
  /*text-transform: uppercase;*//*font-variant: small-caps;*/
}
p.seealso {
  margin-top: 0.8em;
  font-style: italic;
  font-size: 0.9em;
}
.signatures {
  text-indent: 40%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.1em;
}
.signatures + .signatures {
  margin-top: 0;
  margin-bottom: 1em;
}
.address {
  text-indent: 0;
  margin: 1.2em 4%;
  font-size: 0.6em;
  font-style: normal;
  font-family: "TheMix 5-Regular Caps", sans-serif;
  text-transform: uppercase;
}
.address p {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: -0.2em;
  letter-spacing: 0.1em;
}
#glossary p {
  text-indent: 4%;
  margin-bottom: 0.4em;
}
.suttaCite {
  font-style: italic;
  margin-left: 50%;
  margin-top: 0.6em;
}
/*------------
 formatting
------------*/
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.fn /*superscript*/ {
  vertical-align: 0.4em;
  font-size: 0.6em;
}
p.stars {
  text-indent: 0;
  text-align: center;
  letter-spacing: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
.lc {
  text-transform: lowercase;
}
/*-----------
  hyperlinks
-------------*/
a:link, a:visited, a:hover {
  padding: 0.1em;
}
a:link {
  color: #5a7000;
}
a:visited, a:hover {
  color: #707070;
}
.outlink:link {
  color: blue;
}
/*-------------
  abbreviations
---------------*/
#abbreviations h1 {
  text-align: center;
}
#abbreviations table {
  /*	margin-left:12%;*/margin-left: auto;
  margin-right: auto;
}
#abbreviations td + td {
  padding: 0.2em 2em;
}
#abbreviations td {
  font-style: italic;
}
#abbreviations p {
  font-style: italic;
  text-indent: 0;
  text-align: center;
  margin: 0.6em 12%;
}
/*------------
   Verses
------------*/
div.block div.verse {
  margin: 0.6em 4%;
}
.verse {
  margin: 0.8em 8%;
  text-indent: 0;
}
.verse-add {
  margin-top: 0.4em;
  text-indent: 0;
}
.verse p {
  text-indent: -2em;
  padding-left: 2em;
  margin: 0 !important;
}
p.v1 {
  text-indent: -2%;
  padding-left: 6%;
}
p.v2 {
  text-indent: -2%;
  padding-left: 10%;
}
p.v4 {
  text-indent: -2%;
  padding-left: 18%;
}
p.v7 {
  text-indent: -2%;
  padding-left: 30%;
}
