/*------------
 Global Reset
------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------
 Embed Font
------------*/
@font-face {
  font-family: "Aldus nova Pro";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/AldusNovaPro-Book.otf);
  }
@font-face {
  font-family: "Aldus nova Pro";
  font-weight: normal;
  font-style: italic;
  src: url(../Tools/Fonts/AldusNovaPro-BookItalic.otf);
  }
@font-face {
  font-family: "Aldus nova Pro";
  font-weight: bold;
  font-style: normal;
  src: url(../Tools/Fonts/AldusNovaPro-Bold.otf);
  }
@font-face {
  font-family: "QuadraatSans SC";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/QuadraatSans-SmallCaps.otf);
  }
/*------------
 Layout
------------*/
body {
  padding: 2%;
  font-family: "Aldus nova Pro", serif;
  line-height: 1.2em;
}
#introquote, #introquote2 {
  margin: 0 12%;
  padding-top: 12%;
}
.newspaper {
  margin: 1% 12%;
  font-size: 0.9em;
  font-style: italic;
  text-align: justify;
  /*text-justify: newspaper;*/
}
/*------------
 Headings
------------*/
#cover h1, #titlepage h1, #copyright h1, #introquote h1, #introquote2 h1 {
  margin: 0;
  font-size: 0;
}
h1 + p, h2 + p, h3 + p {
  page-break-before: avoid;
}
p.chapterheading {
  text-indent: 4%;
  margin: 12% 0 2% 0;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
h1 {
  margin: 12% /*topmargin*/ 4% 6% 4%;
  text-indent: 0;
  font-size: 1.3em;
  line-height: 2em;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  text-transform: none;
}
h2 {
  margin: 1.2em 4% 0.6em 4%;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 0.1em;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  /*font-variant: small-caps;*/font-family: "QuadraatSans SC", sans-serif;
}
h2.intro {
  margin: 5% 0;
  font-style: normal;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  text-align: center;
  text-indent: 0;
}
.note h2 {
  text-align: left !important;
}
#DN16 h2 {
  text-align: center;
  font-weight: bold;
  margin: 5%;
  letter-spacing: 0;
}
h3 {
  margin: 1.2em 4% 0.6em 4%;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 1em;
}
h4 {
  margin: 2em 0 1em 0;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 0;
}
h5 {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
}
#titlepage h2 {
  text-align: right;
  font-size: 3.33em;
  font-weight: normal;
  font-variant: normal;
  font-style: italic;
  font-family: "Aldus nova Pro", serif;
  letter-spacing: 0;
  margin: 2em 0 0 0;
}
#titlepage h3 {
  text-align: right;
  text-indent: 0;
  font-size: 1.6em;
  margin: 1.5em 0;
  letter-spacing: 0;
}
#titlepage h4 {
  text-align: right;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  margin: 0.6em 0;
  font-family: "QuadraatSans SC", sans-serif;
  /*font-variant: small-caps;*/letter-spacing: 0.05em;
}
#titlepage h5 {
  text-align: right;
  font-size: 1.2em;
  margin: 0.4em 0;
}
#titlepage h6 {
  text-align: right;
  font-style: italic;
  font-size: 0.9em;
  margin: 2em 0;
}
/*handfull of leaves titlepage*/
/*
#titlepage h2 {
  text-align:center;
  font-style:italic;
  font-weight:normal;
  font-size: 2em;
  margin:18% 0 12% 0;
  text-transform: none;
  font-family:Antwerp, serif;
  letter-spacing:0;
}
#titlepage h3 {
  text-align:center;
  font-style:normal;
  margin:0;
  font-size:1em;
  letter-spacing:.1em;
  text-transform:none;
}
#titlepage h4 {
  text-align:center;
  margin:3% 0 0 0;
  font-size:1.3em;
  font-style:normal;
  text-transform:none;
  letter-spacing:.1em;
  font-variant:small-caps;
}
#titlepage h4+h4 {
  margin-top:.3em;
  margin-bottom:9%;
}
#titlepage h5 {
  margin: 3% 0 0 0;
  font-size:1.1em;
}
#titlepage h5+h5 {
  margin-top:0;
}
*/
/*------------
Copyright Page
------------*/
#copyright {
  margin: 0 12%;
  padding-top: 12%;
  font-size: 0.9em;
}
#copyright p {
  margin: 0;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}
#copyright h2 {
  text-indent: -8%;
  text-align: left;
  margin-top: 1.2em;
  font-size: 1em;
  margin-bottom: 0.4em;
  letter-spacing: 0.1em;
  /*font-family: "QuadraatSansSC", sans-serif;*/
}
#copyright h2 + h2 {
  margin-top: 0;
}
/*------------
 Paragraphs
------------*/
p {
  text-indent: 4%;
  margin: 0.2em 0;
}
.suttaintro p {
  font-style: italic;
}
.fhead /*false-heading*/ {
  margin: 1em 0;
  text-indent: 8%;
  font-style: italic;
}
.first {
  margin-top: 1.2em;
}
.itiSecPP {
  margin-top: 2.4em;
  text-indent: 0;
}
.littlefirst {
  margin-top: 0.6em;
}
.iblock {
  margin: 0.8em 4%;
}
.iblock p {
  margin: 0;
}
.block {
  margin: 0.8em 4%;
}
.block p {
  margin: 0.4em 0;
  text-indent: 0;
}
.hblock {
  margin: 0.8em 8%;
}
.hblock p {
  margin: 0.4em 0;
  text-indent: -4%;
}
.no-i-block {
  margin: 0.8em 4%;
}
.no-i-block p {
  margin: 0;
  text-indent: 0;
}
.dblock {
  margin: 0.8em 8%;
}
.dblock p {
  margin: 0;
  text-indent: 0;
}
.hdblock {
  margin: 0.8em 8%;
}
.hdblock p {
  margin: 0;
  text-indent: 0;
}
.hdblock p.hang {
  margin-left: -4%;
}
.hdblock p.add {
  margin-top: 0.4em;
}
.sq-list {
  margin: 0.6em 0;
}
.sq-list p {
  margin: 0;
}
.pbreak {
  margin: 0.8em 0;
}
.note {
  margin: 0.6em 4%;
  font-size: 0.85em;
}
.note p {
  margin: 0;
}
p.seealso {
  margin-top: 0.8em;
  font-style: italic;
  font-size: 0.9em;
}
.date {
  text-indent: -10%;
  font-style: italic;
  margin: 1em 0 1.2em 60%;
}
.signatures {
  text-indent: 40%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0;
}
.signatures + .signatures {
  margin-top: 0;
  margin-bottom: 1em;
}
.address {
  text-indent: 0;
  margin: 1.2em 4%;
  font-size: 0.7em;
  font-style: normal;
}
.address p {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: -0.2em;
  letter-spacing: 0.2em;
}
#glossary p {
  text-indent: 4%;
  margin-bottom: 0.4em;
}
.suttaCite {
  font-style: italic;
  margin-left: 50%;
  margin-top: 0.6em;
}
/*------------
 formatting
------------*/
.bolditalic {
  font-weight: bold;
  font-style: italic;
}
.smaller {
  font-size: smaller;
  font-style: normal;
}
.small {
  font-size: 0.5em;
}
em {
  font-style: italic;
}
.em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.fn /*superscript*/ {
  vertical-align: 0.4em;
  font-size: 0.6em;
}
.grey {
  color: grey;
}
.normal {
  font-style: normal;
}
.allcaps {
  text-transform: uppercase;
}
p.stars {
  text-indent: 0;
  text-align: center;
  letter-spacing: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
/*-----------
  hyperlinks
-------------*/
a:link, a:visited, a:hover {
  padding: 0.1em;
}
a:link {
  color: #5a7000;
}
a:visited, a:hover {
  color: #707070;
}
.no-ul {
  text-decoration: none;
}
.outlink:link {
  color: blue;
}
/*-------------
  abbreviations
---------------*/
#abbreviations h1 {
  text-align: center;
}
#abbreviations table {
  /*	margin-left:12%;*/margin-left: auto;
  margin-right: auto;
}
#abbreviations caption {
  margin-bottom: 1em;
}
#abbreviations td + td {
  padding: 0.2em 2em;
}
#abbreviations td {
  font-style: italic;
}
#abbreviations p {
  font-style: italic;
  text-indent: 0;
  text-align: center;
  margin: 0.6em 12%;
}
/*-------------
  abbreviations
---------------*/
#biblio p {
  text-indent: -0.25in;
  font-size: 12pt;
  margin: 0.3em 0 0.5em 0.5in;
}
#biblio p.block {
  text-indent: 0;
  margin: 1.5em 0 0.5em 0.25in;
}
/*------------
   Verses
------------*/
div.block div.verse {
  margin: 0.6em 4%;
}
.verse {
  margin: 0.8em 8%;
  text-indent: 0;
}
.normal {
  font-style: normal;
}
.verse-add {
  margin-top: 0.4em;
  text-indent: 0;
}
.verse p {
  text-indent: -2em;
  padding-left: 2em;
  margin: 0 !important;
}
p.v_udent {
  margin-left: 0;
  text-indent: 0;
  padding-left: 0;
}
p.vspk {
  margin-bottom: 0.1em;
  text-indent: -2.6em;
  font-style: italic;
}
p.v1 {
  text-indent: -2%;
  padding-left: 6%;
}
p.v2 {
  text-indent: -2%;
  padding-left: 10%;
}
p.v3 {
  text-indent: -2%;
  padding-left: 14%;
}
p.v4 {
  text-indent: -2%;
  padding-left: 18%;
}
p.v5 {
  text-indent: -2%;
  padding-left: 22%;
}
p.v6 {
  text-indent: -2%;
  padding-left: 26%;
}
p.v7 {
  text-indent: -2%;
  padding-left: 30%;
}
p.v8 {
  text-indent: -2%;
  padding-left: 34%;
}
p.v9 {
  text-indent: -2%;
  padding-left: 38%;
}
p.v10 {
  text-indent: -2%;
  padding-left: 42%;
}
p.v11 {
  text-indent: -2%;
  padding-left: 46%;
}
p.v12 {
  text-indent: -2%;
  padding-left: 50%;
}
/*
p.v1 {
	text-indent:-1em;
	padding-left:2em;
}
p.v2 {
	text-indent:-1em;
	padding-left:3em;
}
p.v3 {
	text-indent:-1em;
	padding-left:4em;
}
p.v4 {
	text-indent:-1em;
	padding-left:5em;
}
p.v5 {
	text-indent:-1em;
	padding-left:6em;
}
p.v6 {
	text-indent:-1em;
	padding-left:7em;
}
p.v7 {
	text-indent:-1em;
	padding-left:8em;
}
p.v8 {
	text-indent:-1em;
	padding-left:9em;
}
p.v9 {
	text-indent:-1em;
	padding-left:10em;
}
p.v10 {
	text-indent:-1em;
	padding-left:11em;
}
p.v11 {
	text-indent:-1em;
	padding-left:12em;
}
p.v12 {
	text-indent:-1em;
	padding-left:13em;
}
p.v13 {
	text-indent:-1em;
	padding-left:14em;
}
p.v14 {
	text-indent:-1em;
	padding-left:15em;
}
p.v15 {
	text-indent:-1em;
	padding-left:16em;
}
/*
/************
 *lists
 * *********/
ul {
  text-indent: 4%;
  margin: 0.6em 0 0.6em 4%;
}
li + ul {
  margin-top: 0;
  margin-bottom: 0.3em;
}
