/*------------
 Global Reset
------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------
 Embed Font
------------*/
@font-face {
  font-family: "Sabon Next LT Pro";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/SabonNextLTPro-Regular.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro";
  font-weight: normal;
  font-style: italic;
  src: url(../Tools/Fonts/SabonNextLTPro-Italic.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro";
  font-weight: bold;
  font-style: normal;
  src: url(../Tools/Fonts/SabonNextLTPro-Bold.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro Display";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/SabonNextLTPro-Display.otf);
  }
@font-face {
  font-family: "Sabon Next LT Pro Display";
  font-weight: normal;
  font-style: italic;
  src: url(../Tools/Fonts/SabonNextLTPro-DisplayIt.otf);
  }
@font-face {
  font-family: "QuadraatSans SC";
  font-weight: normal;
  font-style: normal;
  src: url(../Tools/Fonts/QuadraatSans-SmallCaps.otf);
  }
/*------------
 Layout
------------*/
body {
  padding: 1%;
  font-family: "Sabon Next LT Pro", serif;
  line-height: 1.2em;
  font-size: 1em;
}
#introquote, #titlepage, #copyright {
  margin: 0 12%;
  padding-top: 18%;
}
#introquote2 {
  margin: 0 24%;
  padding-top: 18%;
}
/*------------
 Headings
------------*/
#cover h1, #titlepage h1, #copyright h1, #introquote h1, #introquote2 h1 {
  margin: 0;
  font-size: 0;
}
h1 + p, h2 + p, h3 + p {
  page-break-before: avoid;
}
h1 {
  margin: 0 /*topmargin*/ 4% 3% 4%;
  padding-top: 6%;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.3em;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  font-family: "Sabon Next LT Pro Display", serif;
  text-transform: none;
}
#abbreviations h1, #glossary h1, h1.first {
  padding-top: 12%;
}
h2 {
  margin: 1.2em 4%;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-family: "QuadraatSans SC", sans-serif;
  /*font-variant: small-caps;*/
}
h2.intro {
  margin: 5% 0;
  font-style: normal;
  text-align: center;
  font-size: 1.1em;
  text-indent: 0;
  letter-spacing: 0.1em;
  /*text-transform:uppercase;*/
}
h3 {
  margin: 2em 0 1em 4%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
}
h4 {
  margin: 2em 0 1em 0;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 0;
}
h5 {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
}
#titlepage h2 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  margin: 0 0 6% 0;
  text-transform: uppercase;
  font-family: "Sabon Next LT Pro Display", serif;
  letter-spacing: 0.05em;
  font-variant: normal;
  line-height: 1em;
}
#titlepage h3 {
  text-align: center;
  font-style: normal;
  margin: 0;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Sabon Next LT Pro Display", serif;
}
#titlepage h4 {
  text-align: center;
  margin: 12% 0 0 0;
  font-size: 1.2em;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0.1em;
  /*font-variant: small-caps;*/line-height: 1em;
  font-family: "Sabon Next LT Pro Display", serif;
}
#titlepage h4 + h4 {
  margin-top: 4%;
  margin-bottom: 12%;
  font-size: 1.6em;
  letter-spacing: 0;
  text-transform: uppercase;
}
#titlepage h4 + h3 {
  text-transform: none;
  margin-bottom: 4%;
  font-size: 1.2em;
}
#titlepage h5 {
  margin: 0;
  font-size: 1.6em;
  letter-spacing: 0.025em;
  font-style: italic;
  line-height: 1em;
  font-family: "Sabon Next LT Pro Display", serif;
}
#titlepage h5 + h5 {
  margin-top: 4%;
  font-size: 1.5em;
}
/*------------
Copyright Page
------------*/
#copyright {
  font-size: 0.9em;
}
#copyright p {
  margin: 0;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}
#copyright h2 {
  text-indent: -4%;
  text-align: left;
  margin: 0 0 0.3em 0;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  font-family: "QuadraatSans SC", sans-serif;
  font-style: normal;
}
#copyright p + h2 {
  margin-top: 0.6em !important;
}
/*------------
 Paragraphs
------------*/
p {
  text-indent: 4%;
  margin: 0.2em 0;
}
.first {
  margin-top: 1.2em;
}
.iblock {
  margin: 0.8em 4%;
}
.iblock p {
  margin: 0;
}
.note {
  margin: 0.6em 4%;
  font-size: 0.88em;
}
.note p {
  margin: 0;
}
.note p.notetitle {
  /*font-variant:small-caps;*/font-size: 1.2em;
  margin-top: 2.4%;
  margin-bottom: 1.2%;
  text-indent: 0;
  letter-spacing: 0.05em;
  font-family: "QuadraatSans SC", sans-serif;
  /*text-transform: uppercase;*//*font-variant: small-caps;*/
}
p.seealso {
  margin-top: 0.8em;
  font-style: italic;
  font-size: 0.9em;
}
#glossary p {
  text-indent: 4%;
  margin-bottom: 0.4em;
}
.suttaCite {
  font-style: italic;
  margin-left: 50%;
  margin-top: 0.6em;
}
/*------------
 formatting
------------*/
em {
  font-style: italic;
}
.fn /*superscript*/ {
  vertical-align: 0.4em;
  font-size: 0.6em;
}
.lc {
  text-transform: lowercase;
}
p.stars {
  text-indent: 0;
  text-align: center;
  letter-spacing: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
/*-----------
  hyperlinks
-------------*/
a:link, a:visited, a:hover {
  padding: 0.1em;
}
a:link {
  color: #5a7000;
}
a:visited, a:hover {
  color: #707070;
}
.outlink:link {
  color: blue;
}
/*-------------
  abbreviations
---------------*/
#abbreviations h1 {
  text-align: center;
}
#abbreviations table {
  /*	margin-left:12%;*/margin-left: auto;
  margin-right: auto;
}
#abbreviations td + td {
  padding: 0.2em 2em;
}
#abbreviations td {
  font-style: italic;
}
#abbreviations p {
  font-style: italic;
  text-indent: 0;
  text-align: center;
  margin: 0.6em 12%;
}
/*------------
   Verses
------------*/
.verse {
  margin: 0.8em 8%;
  text-indent: 0;
}
.verse-add {
  margin-top: 0.4em;
  text-indent: 0;
}
.verse p {
  text-indent: -2em;
  padding-left: 2em;
  margin: 0 !important;
}
p.vspk {
  margin-bottom: 0.1em;
  text-indent: -2.6em;
  font-style: italic;
}
p.v1 {
  text-indent: -2%;
  padding-left: 6%;
}
p.v2 {
  text-indent: -2%;
  padding-left: 10%;
}
p.v3 {
  text-indent: -2%;
  padding-left: 14%;
}
p.v4 {
  text-indent: -2%;
  padding-left: 18%;
}
p.v5 {
  text-indent: -2%;
  padding-left: 22%;
}
p.v7 {
  text-indent: -2%;
  padding-left: 30%;
}
/*
p.v1 {
	text-indent:-1em;
	padding-left:2em;
}
p.v2 {
	text-indent:-1em;
	padding-left:3em;
}
p.v3 {
	text-indent:-1em;
	padding-left:4em;
}
p.v4 {
	text-indent:-1em;
	padding-left:5em;
}
p.v5 {
	text-indent:-1em;
	padding-left:6em;
}
p.v6 {
	text-indent:-1em;
	padding-left:7em;
}
p.v7 {
	text-indent:-1em;
	padding-left:8em;
}
p.v8 {
	text-indent:-1em;
	padding-left:9em;
}
p.v9 {
	text-indent:-1em;
	padding-left:10em;
}
p.v10 {
	text-indent:-1em;
	padding-left:11em;
}
p.v11 {
	text-indent:-1em;
	padding-left:12em;
}
p.v12 {
	text-indent:-1em;
	padding-left:13em;
}
p.v13 {
	text-indent:-1em;
	padding-left:14em;
}
p.v14 {
	text-indent:-1em;
	padding-left:15em;
}
p.v15 {
	text-indent:-1em;
	padding-left:16em;
}
/*
/************
 *lists
 * *********/
