/*------------
 Global Reset
------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------
 Embed Font
------------*/
@font-face {
  font-family: "Linux Libertine O";
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/linlibertine_r-webfont.ttf);
  }
@font-face {
  font-family: "Linux Libertine O";
  font-weight: normal;
  font-style: italic;
  src: url(../Fonts/linlibertine_ri-webfont.ttf);
  }
@font-face {
  font-family: "Linux Libertine O";
  font-weight: bold;
  font-style: normal;
  src: url(../Fonts/linlibertine_rb-webfont.ttf);
  }
@font-face {
  font-family: "Linux Libertine O";
  font-weight: bold;
  font-style: italic;
  src: url(../Fonts/linlibertine_rbi-webfont.ttf);
  }
/*------------
 Layout
------------*/
body {
  padding: 2%;
  font-family: "Linux Libertine O", serif;
  line-height: 1.2em;
}
/*------------
 Headings
------------*/
/*--------------------------
 remember to comment out
--------------------------*/
#titlepage1 h2, #copyright1 h2, #cover1 h1, #titlepage2 h2, #copyright2 h2, #cover2 h1 {
  margin: 0;
  font-size: 0;
}
/*#BMC2allchapters h4.discussions {

}*/
/*-----------------------------
 remember to comment out above
-----------------------------*/
h1 + p, h2 + p, h3 + p {
  page-break-before: avoid;
}
#abbreviations1 h2, #abbreviations2 h2 {
  text-indent: 12%;
}
#preface1 h2, #preface2 h2, #abbreviations1 h2, #abbreviations2 h2, #addendum1 h2, #addendum2 h2, #bibliography1 h2, #bibliography2 h2, #ruleindex1 h2, #ruleindex2 h2, #glossary1 h2, #glossary2 h2 {
  margin-top: 16%;
}
p.chapterheading {
  text-indent: 4%;
  margin: 12% 0 4% 0;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
h1 {
  margin: 12% 0 1.2em 0;
  font-size: 1.4em;
  font-style: normal;
  letter-spacing: 0.1em;
  text-align: left;
  text-indent: 0;
  font-weight: bold;
  text-transform: uppercase;
}
h2, #BMC2allchapters h3, #BMC2allappendices h3 {
  margin: 0 0 8% 4%;
  text-indent: 0;
  font-size: 2.1em;
  line-height: 1.1em;
  font-style: italic;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-weight: normal;
  text-transform: none;
}
h3, #BMC1chapter10 h4, #BMC1chapter12 h4, .extra2headings h5 {
  margin: 1em 0 0.6em 4%;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1.2em;
}
div.chapter h3 {
  font-size: 1.8em;
}
#BMC1chapter7 h3, #BMC1chapter8 h3, #BMC1chapter10 h3, #BMC1chapter12 h3 {
  text-align: center;
  font-style: normal;
  font-size: 1.2em;
  margin: 3em 0 1em 0;
}
h4, #introduction2 h3, #BMC1chapter7 h5, #BMC1chapter8 h5, #BMC1chapter10 h5, .extra2headings h6, .normal2headings h5, #BMC2chapter1 h5, #BMC2chapter2 h5, #BMC2chapter3 h5, #BMC2chapter4 h5, #BMC2chapter5 h5, #BMC2chapter6 h5, #BMC2chapter7 h5, #BMC2chapter8 h5, #BMC2chapter9 h5, #BMC2chapter10 h5, #BMC2chapter11 h5, #BMC2chapter12 h5, #BMC2chapter15 h5, #BMC2chapter16 h5, #BMC2chapter17 h5, #BMC2chapter21 h5, #BMC2chapter22 h5, #BMC2chapter23 h5, #BMC2chapter24 h5 {
  margin: 1em 0 0.6em 4%;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1em;
}
#BMC1chapter7 h4, #BMC1chapter8 h4 {
  font-style: italic;
  font-size: 1.8em;
}
#ruleindex1 h4 {
  margin-left: 8%;
}
#BMC2allchapters h4 {
  margin: 1em 4%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1.4em;
}
#BMC2allappendices h4 {
  margin-left: 0;
  font-size: 1.2em;
}
h5, #BMC1chapter7 h6, #BMC1chapter8 h6, #BMC1chapter10 h6, .extra2headings h7, .normal2headings h6, #BMC2chapter1 h6, #BMC2chapter2 h6, #BMC2chapter3 h6, #BMC2chapter4 h6, #BMC2chapter5 h6, #BMC2chapter6 h6, #BMC2chapter7 h6, #BMC2chapter8 h6, #BMC2chapter9 h6, #BMC2chapter10 h6, #BMC2chapter11 h6, #BMC2chapter12 h6, #BMC2chapter15 h6, #BMC2chapter16 h6, #BMC2chapter17 h6, #BMC2chapter21 h6, #BMC2chapter22 h6, #BMC2chapter23 h6, #BMC2chapter24 h6 {
  margin: 1em 0 0.6em 8%;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1em;
  font-variant: normal;
}
#BMC2allappendices h5 {
  font-weight: bold;
  margin-left: 4%;
}
h6, .extra2headings h8, .normal2headings h7, #BMC2chapter1 h7, #BMC2chapter2 h7, #BMC2chapter3 h7, #BMC2chapter4 h7, #BMC2chapter5 h7, #BMC2chapter6 h7, #BMC2chapter7 h7, #BMC2chapter8 h7, #BMC2chapter9 h7, #BMC2chapter10 h7, #BMC2chapter11 h7, #BMC2chapter12 h7, #BMC2chapter15 h7, #BMC2chapter16 h7, #BMC2chapter17 h7, #BMC2chapter21 h7, #BMC2chapter22 h7, #BMC2chapter23 h7, #BMC2chapter24 h7, #BMC2allappendices h7 {
  margin: 1em 0 0.6em 12%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0.3em;
  font-size: 0.8em;
}
#BMC2allappendices h6 {
  margin-left: 8%;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
/*------------
   Titlepage
------------*/
#titlepage1 h3, #titlepage2 h3 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  letter-spacing: 0;
  margin: 20% 0 0 0;
}
#titlepage1 h3 + h3, #titlepage2 h3 + h3 {
  margin-top: 0.6em;
}
#titlepage1 h4, #titlepage2 h4 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
  margin: 20% 0 0 0;
}
#titlepage1 h4 + h4, #titlepage2 h4 + h4 {
  margin-top: 0.4em;
}
#titlepage1 h5, #titlepage2 h5 {
  text-indent: 0;
  text-align: center;
  margin: 0.4em;
  font-size: 0.8em;
}
#titlepage1 h5 + h5, #titlepage2 h5 + h5 {
  margin-top: 0.8em;
}
/*------------
  Partitions
------------*/
.partition p {
  text-align: center;
  text-indent: 0;
  letter-spacing: 0.3em;
  font-style: italic;
  margin: 25% 0 5% 0;
}
.partition h2 {
  text-align: center;
  font-style: normal;
  margin: 7% 0;
  font-size: 1.6em;
}
/*------------
Copyright Page
------------*/
#copyright1, #copyright2 {
  margin: 15% 18% 0 18%;
  font-size: 0.9em;
}
#copyright1 p, #copyright2 p {
  margin: 0;
  text-indent: 0;
  text-align: left;
  font-size: 0.9em;
}
#copyright1 h3, #copyright2 h3 {
  text-indent: -0.75em;
  text-align: left;
  margin: 1.2em 0 0.2em 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-style: normal;
}
#copyright1 h3 + h3, #copyright2 h3 + h3 {
  margin-top: 0;
}
/*---------------
    quote
---------------*/
#quote1, #quote2 {
  margin: 24% 18%;
  font-style: italic;
}
#quote1 p, #quote2 p {
  text-indent: 0;
  text-align: justify;
}
#quote1 .suttacite, #quote2 .suttacite {
  text-indent: 50%;
  margin-top: 1em;
}
/*------------
 Paragraphs
------------*/
p {
  text-indent: 4%;
  margin: 0.2em 0;
}
p.break {
  margin-top: 0.8em;
}
.first {
  margin-top: 1em;
}
/*.blockf {
  margin:.6em 4%;
}
.blockf p {
  margin: 0;
  text-indent:0;
}*/
.block {
  margin: 0.6em 4%;
}
.block p {
  margin: 0;
  text-indent: 0;
}
.block p + p {
  text-indent: 4%;
}
.blockl {
  margin: 0.4em 0;
}
.blockl p {
  margin: 0 0 0 7%;
  text-indent: -3%;
}
.blockll {
  margin: 0;
}
.blockll p {
  margin: 0 0 0 11%;
  text-indent: -3%;
}
.blocklll {
  margin: 0;
}
.blocklll p {
  margin: 0 0 0 15%;
  text-indent: -3%;
}
.rule {
  margin: 0.6em 0;
}
.rule p {
  font-style: italic;
  margin: 0 12%;
  text-indent: 0;
}
.rule p + p {
  text-indent: 4%;
}
.summary {
  margin: 0.4em 0;
  font-style: italic;
}
.blockp {
  font-style: italic;
  margin: 0.4em 4%;
}
.blockp p {
  margin: 0;
}
.blockn {
  margin: 0.6em 0;
}
.blockn p {
  margin: 0;
}
.signatures {
  text-indent: 50%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0;
}
.signatures + .signatures {
  margin-top: 0;
  margin-bottom: 1em;
}
.address {
  text-indent: 0;
  margin: 1.2em 0;
  font-size: 0.85em;
  font-style: normal;
}
.address p {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: -0.2em;
}
.stars {
  text-indent: 0;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.7em;
}
.rulesBMC2 p {
  text-indent: 0;
  margin: 0.6em 0;
}
.rulesBMC2 .blockl {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.rulesBMC2 .blockl p {
  margin: 0 0 0 7%;
  text-indent: -3%;
}
.rulesBMC2 .blockll p {
  margin: 0 0 0 11%;
  text-indent: -3%;
}
.rulesBMC2 .blockni {
  margin: 0.6em 0;
}
.rulesBMC2 .blockni p {
  margin: 0;
  text-indent: 0;
}
.rulesBMC2 .blockni p + p {
  text-indent: 4%;
}
.rulesBMC2 .blockleft {
  margin-left: 4%;
}
#glossary1 p, #glossary2 p {
  text-indent: 4%;
  margin-bottom: 0.6em;
}
#glossary1 .glossaryentry, #glossary2 .glossaryentry {
  font-style: normal;
  font-weight: bold;
}
.ruleindex p {
  font-style: italic;
}
.ruleindexnormal p {
  font-style: normal;
}
.biblioentries p {
  text-indent: -4%;
  margin: 0.6em 0 0.6em 4%;
}
#addendum1 .addrules {
  font-style: normal;
  font-weight: bold;
  text-indent: 0;
}
p.response {
  font-style: italic;
  margin-left: 12%;
  text-indent: 0;
}
p.dialog {
  margin-left: 36%;
  text-indent: 0;
}
p.suttaCite {
  text-indent: 40%;
}
/*------------
 formatting
------------*/
.bolditalic {
  font-weight: bold;
  font-style: italic;
}
.smaller {
  font-size: smaller;
  font-style: normal;
}
.small {
  font-size: 0.5em;
}
em {
  font-style: italic;
}
.em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.super {
  vertical-align: super;
}
.grey {
  color: grey;
}
.normal {
  font-style: normal;
}
.allcaps {
  text-transform: uppercase;
}
/*-----------
  hyperlinks
-------------*/
a:link, a:visited, a:hover {
  padding: 0.1em;
}
a:link {
  color: #FD5600;
}
a:visited, a:hover {
  color: #707070;
}
.no-ul {
  text-decoration: none;
}
.bmc2link:link {
  color: #A60000;
}
.outlink:link {
  color: #5a7000;
}
/*-------------
     tables
---------------*/
table {
  margin-left: 12%;
  /*margin-left: auto;
  margin-right: auto;*/
}
caption {
  text-align: left;
  margin: 0.6em 0;
}
td + td {
  padding: 0.2em 2em;
}
#BMC2appendixONE table, #BMC2appendixTWO table {
  margin: 0.6em 0 0.6em 8%;
}
#BMC2appendixONE td + td, #BMC2appendixTWO td + td {
  padding: 0 0.6em;
}
/*-------------
  abbreviations
---------------*/
/*#abbreviations1 table, #abbreviations2 table {
	margin-left:12%;
	/*margin-left: auto;
	margin-right: auto;
}
#abbreviations1 caption #abbreviations2 caption {
	margin-bottom:1em;
}
#abbreviations1 td+td, #abbreviations2 td+td {
	padding:.2em 2em;
}*/
#abbreviations1 p, #abbreviations2 p {
  font-style: normal;
  text-indent: 0;
  margin: 1.4em 4em;
}
/*------------
   Verses
------------*/
.verse {
  margin: 0.6em 8%;
  text-indent: 0;
  font-style: normal;
}
.normal {
  font-style: normal;
}
.verse-add {
  margin-top: 0.5em;
  text-indent: 0;
}
.verse p {
  text-indent: 0;
  margin: 0;
}
.verse p + p {
  text-indent: 0;
  margin: 0;
}
p.v_udent {
  margin-left: 0;
  text-indent: 0;
  padding-left: 0;
}
p.vspeaker {
  margin-bottom: 0.3em;
  text-indent: 0;
  font-style: italic;
}
p.v1 {
  text-indent: -1em;
  padding-left: 2em;
}
p.v2 {
  text-indent: -1em;
  padding-left: 3em;
}
p.v3 {
  text-indent: -1em;
  padding-left: 4em;
}
p.v4 {
  text-indent: -1em;
  padding-left: 5em;
}
p.v5 {
  text-indent: -1em;
  padding-left: 6em;
}
p.v6 {
  text-indent: -1em;
  padding-left: 7em;
}
p.v7 {
  text-indent: -1em;
  padding-left: 8em;
}
p.v8 {
  text-indent: -1em;
  padding-left: 9em;
}
p.v9 {
  text-indent: -1em;
  padding-left: 10em;
}
p.v10 {
  text-indent: -1em;
  padding-left: 11em;
}
p.v11 {
  text-indent: -1em;
  padding-left: 12em;
}
p.v12 {
  text-indent: -1em;
  padding-left: 13em;
}
p.v13 {
  text-indent: -1em;
  padding-left: 14em;
}
p.v14 {
  text-indent: -1em;
  padding-left: 15em;
}
p.v15 {
  text-indent: -1em;
  padding-left: 16em;
}
/*---------------
    epub photos
-----------------*/
.figure {
  display: block;
  width: 88%;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  page-break-inside: avoid;
}
.figure p {
  text-align: center;
  text-indent: 0;
  margin-top: 1em;
  letter-spacing: 0.2em;
}
.photo img {
  width: 100%;
  border: 1px solid #333;
  box-shadow: 2px 2px 4px #666;
}
/*******extra fixes*********/
p.h5 {
  margin: 1em 0 0.6em 8%;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 1em;
  font-variant: normal;
  text-indent: 0;
}
p.h6 {
  margin: 1em 0 0.6em 12%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0.3em;
  font-size: 0.8em;
  text-indent: 0;
}
