html {
  font: normal normal 16px/20px "URW Palladio ITU", "DejaVu Serif", "Times New Roman", serif;
}
body {
  margin:1em;
  color: black;
}

body.pa { background-color: #ddd; }
body.en { background-color: #ffc; }
body.si { background-color: #cff; } 
body.ind { background-image: url("ola-c.jpg"); }

h1, h2, h3, h4 {
  font: bold normal 2em/2.4em "DejaVu Sans", Tahoma, Swiss, sans-serif;
  text-align: center;
}
h2 { font-size: 1.5em; line-height: 1.75em; }

h4, th {
  text-align: left;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

ul, ol { margin: 0; }
p, th, td, li {
  font: normal normal 16px/20px "URW Palladio ITU", "DejaVu Serif", "Times New Roman", serif;
  margin: 0 0 .5em 0;
  text-indent: 0;
  color:black;
}
p.bjp { font-size: 1.125em; }
p.bjv { font-size: 1.125em; }
p.toplink { 
  font-family: sans-serif;
  font-size: 90%;
  text-align: left; 
  text-indent: 0;
  margin: 0 0 1.5em 0;
}
td, th {
  margin: 0;
  vertical-align:top;
}

th { 
  font: bold normal 16px/20px "DejaVu Sans", Tahoma, Swiss, sans-serif;
  text-align:center;
}

td.col1 { 
  width: 4em;
  padding-right: 1em;
  text-align: right;
  font-weight: bold;
  vertical-align:top;
}

/* links */
a:link, a:active, a:visited { 
  color:#6666ff;
/*  background:#ffffe7; */
  font-weight:bold;
  text-decoration:none; }

a:hover { 
  color:#fff;
  background:#6666ff;
  font-weight:bold;
  text-decoration:none; }


/* general classes */
.center { text-align: center; }
.ital { font-style: italic; }

hr { margin: 2em 0;}