/*font color 3d3d3d; visited 707070; hover b8b8b8; orange c05c26; hover orange ff8847; light gray background f0f0f0*/
* {
    margin: 0;
    padding: 0;
}
body {
    /*font-size: 100%;*/
}
.accordion {
    /*width: 380px;*/
    width: 100%;
    margin: 20px auto;
}
.accordion h1,
.accordion h2,
.accordion h3,
.accordion h4 {
    cursor: pointer;
    line-height: 1.25em;
}
.accordion h1 {
    padding: 2.75% 4%;
    background-color: #f0f0f0;
    /*v94*/
    border: 1px solid #ededed;
    /*v93*/
    color: #707070;
    /*v44*/
    font-family: "StoneSans_SC", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}
.accordion h1:not(.no-highlight):hover,
.accordion h2:not(.no-highlight):hover,
.accordion h3:not(.no-highlight):hover,
.accordion h4:not(.no-highlight):hover {
    /*background-color:#c05c26;*/
    /*background-color:rgba(192,92,38,.85);*/
    background-color: #B87049;
    color: #fff;
    /*color: #c05c26;*/
    border: 1px solid #B87049;
}
.accordion h1:first-child {
    border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
    border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {
    border-bottom: 1px solid #d6d6d6;
    /*v84*/
}
.accordion h1:not(:last-of-type):hover {
    border-bottom: 1px solid #d6d6d6;
    /*v84*/
}
.accordion div,
.accordion p {
    display: none;
}
.accordion div.subset p,
.accordion div.th_new {
    display: block;
}
.accordion .opened {
    display: block;
}
.accordion h2 {
    padding: 2% 4% 2% 8%;
    background-color: #bdbdbd;
    /*v74*/
    border-left: 1px solid #bababa;
    /*v73*/
    border-right: 1px solid #bababa;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #a3a3a3;
    /*v64*/
    font-size: 1.1rem;
    color: #575757;
    /*v34*/
    margin: 0;
    font-family: StoneSans, sans-serif;
}
.accordion h2:last-of-type {
    /*border-radius: 0 0 12px 12px;*/
    border-bottom: 1px solid #d4d4d4;
    /*v83*/
}
.accordion h3 {
    padding: 1.5% 4% 1.5% 12%;
    background-color: #8a8a8a;
    /*v54*/
    border-left: 1px solid #878787;
    /*v53*/
    border-right: 1px solid #878787;
    border-top: 1px solid #878787;
    border-bottom: 1px solid #707070;
    /*v44*/
    font-family: "StoneSans_SC", sans-serif;
    font-size: 1rem;
    color: #f0f0f0;
    /*v94*/
    margin: 0;
}
.accordion h3:last-of-type {
    /*border-radius: 0 0 12px 12px;*/
    border-bottom: 1px solid #a1a1a1;
    /*v63*/
}
.accordion h4 {
    padding: 1% 4% 1% 16%;
    background-color: #575757;
    /*v34*/
    border-left: 1px solid #545454;
    /*v33*/
    border-right: 1px solid #545454;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #3d3d3d;
    /*v24*/
    font-family: StoneSans, sans-serif;
    font-size: 0.9rem;
    color: #e3e3e3;
    /*v89*/
    margin: 0;
}
.accordion h4:last-of-type {
    /*border-radius: 0 0 12px 12px;*/
    border-bottom: 1px solid #6e6e6e;
    /*v43*/
}
.accordion p {
    padding: 1%;
    text-align: justify;
}
/* ======= hyperlinks ========= */
.accordion h1 a,
.accordion h2 a,
.accordion h3 a,
.accordion h4 a {
    padding: 0.15em 0.44em 0 0.44em !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px !important;
    vertical-align: text-top;
    text-decoration: none !important;
    outline: none;
    background-color: #B87049;
    color: #f5f5f5 !important;
    border: 1px solid #f5f5f5;
    /*box-shadow: 1px 1px 1px #666;*/
}

.accordion h1 a {
    /*background-color: #f0f0f0;*/
    /*color: #707070 !important;*/
    /*border: 2px solid #B87049;*/
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px !important;
}
.accordion h2 a:visited,
.accordion h3 a:visited,
/*.accordion h4 a:visited {*/
    /*color: #d6d6d6 !important;*/
    /*border-color: #d6d6d6;*/
/*}*/

.accordion h2 a + span,
.accordion h3 a + span,
.accordion h4 a + span {
    margin-left: .33em;
    vertical-align: text-top;
    pointer-events: none;
    max-width: 80%;
}
.accordion h1 a:active,
.accordion h1 a:hover,
.accordion h1 a:visited:hover,
.accordion h2 a:active,
.accordion h2 a:hover,
.accordion h2 a:visited:hover,
.accordion h3 a:active,
.accordion h3 a:hover,
.accordion h3 a:visited:hover,
.accordion h4 a:active,
.accordion h4 a:hover,
.accordion h4 a:visited:hover {
    border: 1px solid #B87049;
    background: #f5f5f5;
    color: #B87049 !important;
}
/*.accordion h1 a:active,*/
/*.accordion h1 a:hover,*/
/*.accordion h1 a:visited:hover {*/
    /*background-color: #B87049;*/
    /*color: #f0f0f0 !important;*/
    /*border: 2px solid #B87049;*/
/*}*/
