
/*------------
   CSS for Stored-up Food Essay
------------*/

#essaybody h1  {
text-align: center;
padding-left:0;
font-size: 2.5em;
font-style: italic;
margin: 2.5% 0 0 0;
font-family: "SabonNext_DP", serif;
}
#essaybody h2  {
text-align: left;
font-family: "StoneSans_SC";
font-style: normal;
text-transform: uppercase;
font-size: 1em;
margin: 2.5% 0 2% 2%;
letter-spacing: 0.2em;
}

#essaybody h3  {
text-align: center;
font-size: 1.15em;
font-style: italic;
margin: 1% 0 2.4% 0;
font-family: "StoneSans", sans-serif;
}

#essaybody h4  {
text-align: center;
font-size: .9em;
font-style: italic;
margin: 0% 0 2% 0;
}

#essaybody p  {
font-size: 1.15em;
text-align: justify;
line-height: 1.3em;
}

.fn /*superscript*/ {
  vertical-align: 0.4em;
  font-size: 0.6em;
}

#essaybody a:link {
  color: #c05c26;
  text-decoration:none;
}

#essaybody a:hover {
color:#ff8847;
}
