/*************stylesheet for printing*****************/
/********* other tweaks ***********/

body {
	font-size: 11pt; 
    color:#000;
	line-height:13pt;
    text-rendering: geometricPrecision;
    font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
}
.sidebar_left, #nav-wrapper, #nav-footer-wrapper, div#nextbutton, #nextbutton img {
	display: none;
}
.slicknav_menu {
background:white;
}
.slicknav_icon {
display:none;
}
.nored {
	padding:0;
}
/*#sutta {*/
    /*margin-left:6%;*/
/*}*/
h1 {
	font-size:14pt;
	padding-left:5%;
	text-align:left;
}
div.breadcrumbs {
    display:none;
}
