/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----------------
   sabon next
------------------*/
@font-face {
    font-family: 'SabonNext';
    /*font-family: 'sabon_next_lt_pro';*/
    src: url('/fonts/woff-sabonnext/SabonNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SabonNext';
    /*font-family: 'sabon_next_lt_pro';*/
    src: url('/fonts/woff-sabonnext/SabonNextLTPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'SabonNext';
    /*font-family: 'sabon_next_lt_pro';*/
    src: url('/fonts/woff-sabonnext/SabonNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SabonNext';
    /*font-family: 'sabon_next_lt_pro';*/
    src: url('/fonts/woff-sabonnext/SabonNextLTPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'SabonNext_DP';
    /*font-family: 'sabon_next_lt_pro';*/
    src: url('/fonts/woff-sabonnext/SabonNextLTPro-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SabonNext_DP';
    /*font-family: 'sabon_next_lt_pro';*/
    src: url('/fonts/woff-sabonnext/SabonNextLTPro-DisplayIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
/*----------------
  stone sans
------------------*/
@font-face {
    font-family: 'StoneSans';
    /*font-family: 'stone_sans_stdregular';*/
    src: url('/fonts/woff-stonesans/StoneSansStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StoneSans';
    /*font-family: 'stone_sans_stdregular_italic';*/
    src: url('/fonts/woff-stonesans/StoneSansStd-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'StoneSans';
    /*font-family: 'stone_sans_stdbold';*/
    src: url('/fonts/woff-stonesans/StoneSansStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'StoneSans';
    /*font-family: 'stone_sans_stdbold_italic';*/
    src: url('/fonts/woff-stonesans/StoneSansStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'StoneSans_SC';
    src: url('/fonts/woff-stonesans/StoneSansStdRegularSC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*-----------------
   Norasi
-------------------*/
@font-face {
    font-family: 'Norasi';
    src: url('/fonts/woff-norasi/Norasi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Norasi';
    src: url('/fonts/woff-norasi/Norasi-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Norasi';
    src: url('/fonts/woff-norasi/Norasi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Norasi';
    src: url('/fonts/woff-norasi/Norasi-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
/*-----------------
   FF Meta
-------------------*/
@font-face {
    font-family: 'FFMeta';
    src: url('/fonts/bookfonts/FFMetaPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FFMetaSerif';
    src: url('/fonts/bookfonts/FFMetaSerifPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FFMetaSerif';
    src: url('/fonts/bookfonts/FFMetaSerifPro-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'FFMetaSerif';
    src: url('/fonts/bookfonts/FFMetaSerifPro-BookBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/*------
 Layout
------*/
body {
    font-size: 1.05em;
    line-height: 1.15em;
    color: #3d3d3d;
    background: white;
    font-family: SabonNext, serif;
}
#container {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    min-width: 320px;
    background: white;
    /*eggshell page color*/
    /*background:#f7f7f0;*/
    /*border:1px solid #ddd;*/
}
#content {
    margin: 4% 4% 9%;
}
#welcome p, #welcome ul p, .archive p, .fullarchive p,/*.suttatoc li,*/
#new_index dd,
div.ebookItem,
div.full,
div.justli li,
li.faq_a,
ul.red {
    text-align: justify;
}
.archive {
    margin: 0 0 0 6%;
}
.fullarchive {
    margin: 0 0 0 -4%;
}
.single {
    margin: 0 18% auto;
}
.full {
    text-indent: 0;
    margin: 1px auto;
    padding: 0 2% 0 8%;
    /*border:1px solid #ddd;*/
}
.full+.full {
    padding-top: 5% !important;
    /*border:1px solid #ddd;*/
}
.archive p.podcast {
    margin-left: 6%;
    /*border:1px solid #ddd;*/
}

/*------
sidebars
------*/

.sidebar_left {
    position: absolute;
    left: auto;
    width: 150px;
    font-family: StoneSans, sans-serif;
    font-size: 11pt;
}
.sidebar_left.jump {
    position: fixed;
    line-height: 175%;
    margin-left: -2%;
    width: 4.5%;
    text-align: right;
    border-left: 1px solid #c05c26;
}
.sidebar_left.jump a {
    padding-left: 15%;
}

/*---------
paragraphs
----------*/

p {
    text-indent: 4%;
    margin: 0.2em 0;
}
/*---------
  thai
----------*/

.thai {
    font-family: Norasi, sans-serif;
    font-size: 1.1em;
}
.thai li,
.thai p {
    margin-top: 0.06em;
    margin-bottom: 0.06em;
}
.thai .smalldate {
    font-size: 0.6em;
}
.thai h1 {
    font-size: 1.4em;
}
.thai h2 {
    font-size: 1.25em;
    line-height: 1.1em;
}
li.th_month {
    margin: 1em 0 0.4em;
    font-size: 1.15em;
}
li.th_year {
    font-size: 1.4em;
    letter-spacing: 0.1em;
    margin: 1em 0 0.4em 4%;
}
.th_new dd,
.th_new dt {
    font-family: Norasi, StoneSans, sans-serif;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.1em;
}
/*-------
 Russian
--------*/
.ru_nav {
    font-family: FFMeta, sans-serif;
}
#russian {
    font-family: FFMetaSerif, serif;
}
/*-------
 lists
--------*/

ul {
    margin: 0;
    padding-left: 4%;
    /*border:1px solid #ddd;*/
}
ul.no-ind {
    padding-left: 0;
}
ul.neg-ind {
    margin-left: -8%;
}
ul.red {
    list-style-type: disc;
    font-weight: bold;
    color: #c05c26;
}
ul.red li {
    margin-bottom: 1em;
}
.nored {
    font-weight: normal;
    color: #3d3d3d;
}
.disc {
    list-style-type: disc;
}
.circle {
    list-style-type: circle;
}
.square {
    list-style-type: square;
}
#welcome li,
.archive li,
.fullarchive li {
    padding-left: 6em;
    margin-left: -3.2em;
    text-indent: -2.8em;
}
.suttatoc li {
    padding-left: 4%;
    text-indent: -4%;
    margin: 0.4em 0;
}
.suttatoc ul {
    margin-right: 4%;
    padding-left: 0;
}
.suttatoc a:not(.nobutton) {
    padding: 0.22em 0.44em 0 0.44em !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px !important;
    vertical-align: text-bottom;
    text-decoration: none !important;
    outline: none;
    background-color: #B87049;
    color: #f5f5f5 !important;
    border: 1px solid #B87049;
    font-size: 90%;
    text-align: left;
}
.suttatoc a:visited:not(.nobutton) {
    background-color:#999;
    border: 1px solid #999;
}
.suttatoc a:active:not(.nobutton),
.suttatoc a:hover:not(.nobutton) {
    border: 1px solid #B87049;
    background: #f5f5f5;
    color: #B87049 !important;
}
.suttatoc a:visited:hover:not(.nobutton) {
    border: 1px solid #808080;
    background: #f5f5f5;
    color: #808080 !important;
}
#jumpbuttons {
    text-align:center;
    font-size:66%;
    font-family: StoneSans, sans-serif;
}
#jumpbuttons a, #jumpbuttons a:visited {
    padding: 0.22em 0.44em 0 0.44em !important;
    -webkit-border-radius: 2px 12px 12px 2px;
    -moz-border-radius: 2px 12px 12px 2px;
    border-radius: 2px 12px 12px 2px !important;
    margin:0 0.5%;
    vertical-align: middle;
    text-decoration: none !important;
    outline: none;
    background-color:#EDE9E7;
    color: #707070 !important;
    border: 1px solid #EDE9E7;
}
#jumpbuttons a:active,
#jumpbuttons a:hover,
#jumpbuttons a:visited:hover {
    background-color: #B87049;
    color: #f5f5f5 !important;
    border: 1px solid #B87049;
}
/* ---------
 images
 -------- */

img {
    border: none;
}
#logo {
    text-align: center;
    margin: 24px;
    padding-top: 12px;
    /*border:1px solid #ddd;*/
}
#logo img {
    height: 42px;
}
img.button {
    float: left;
    padding: 6px 12px 0 0;
    height: 32px;
    vertical-align: middle;
}
img.new {
    vertical-align: -1px;
}
img.rss {
    vertical-align: -.1em;
    padding-right: 0.2em;
}
.watermark {
    padding: 10px 0 0 25px;
}
.custom404 {
    padding-left: 9%;
}

/*-----
headings
-------*/

h1,
h1.suttasans {
    margin-bottom: 1em;
    font-size: 1.3em;
    line-height: 1.3em;
    padding-left: 8%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-family: StoneSans, sans-serif;
}
h2 {
    font-family: StoneSans, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.4em;
    text-align: left;
    padding-left: 4%;
}
h3 {
    margin: 1.2em 8% 0.9em;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    /*letter-spacing: 0.02em;*/
    font-size: 1.0em;
    font-family: "StoneSans", sans-serif;
}
h4 {
    margin: 1.2em 8% 0.9em 12%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    /*letter-spacing: 0.02em;*/
    font-size: 1.05em;
    font-family: "StoneSans_SC", sans-serif;
}
h1 + h4 {
    margin-top: -.8em;
}
h5 {
    margin: 0 0 0.5em;
    font-weight: normal;
    font-variant: small-caps;
}
h5.right {
    text-align: right;
}
h5.left {
    text-align: left;
}
h6 {
    text-indent: 0;
    margin-left: 10%;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}
h6+h6 {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    font-variant: normal;
}
.year {
    letter-spacing: 0.1em;
    font-size: 1.3em;
    margin: 1em 0 0.4em 4%;
    font-family: StoneSans, sans-serif;
    list-style: none;
}
.month {
    letter-spacing: 0;
    font-size: 1.15em;
    margin: 1em 0 0.4em;
    font-family: StoneSans, sans-serif;
}
.nomonth {
    letter-spacing: 0;
    font-weight: normal;
    font-size: 0.7em;
    margin: 0;
}
.faq_q {
    font-weight: bold;
    margin: 1em 0 0.4em;
    letter-spacing: 1px;
}
.booklist {
    font-style: italic;
    margin: 1em 0 0.4em;
    letter-spacing: 1px;
}

/*----
spans
-----*/

.subtitle {
    font-size: 52%;
    font-variant: normal;
}
.sm-cap {
    font-variant: small-caps;
}
.smalldate {
    font-size: 0.75em;
    padding-right: 2%;
    vertical-align: bottom;
}
.mono {
    font-family: 'Droid Sans Mono', monospace;
}
.smaller {
    font-size: 0.9em;
}
.small {
    font-size: 0.75em;
}
.tiny {
    font-size: 0.6em;
}
.redfont {
    color: red;
}
.greenfont {
    color: green;
}
.diamond {
    font-size: 0.7em;
    vertical-align: 2px;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

/*-----
various
-----*/
.first, .f {
    margin-top: 0.6em;
}
br.clear {
    clear: both;
}
.half {
    margin-bottom: 0.6em;
}
/*-------
ebook
-------*/
.ebookItem {
    margin: 1.5em 0 0;
}
.ebookItem div {
    float: left;
    width: 3em;
    margin-right: 1.5em;
    font-family: StoneSans, sans-serif;
    font-size: 0.8em;
    border-right: 1px solid #999;
    padding-right: 0;
}
.ebookItem ul {
    padding: 0;
    height: 150px;
}
ul.ebookItem li {
    padding: 7% 0;
}
ul.fourformats li {
    padding: 15% 0;
}
ul.threeformats li {
    padding: 28% 0;
}
ul.oneformat li {
    padding: 125% 0;
}
/*.ebookItem li:first-child {padding-top:0}*/
/*.ebookItem li:last-of-type {padding-bottom:0}*/

.ebookImg {
    float: left;
    height: 150px;
    margin: 0.2em 1.2em 0.2em 1%;
    box-shadow: 2px 2px 2px #333;
}
.author {
    font-style: italic;
    font-size: 1em;
}
.title {
    font-weight: bold;
    font-size: 1em;
}
.month.books {
    font-style: normal;
    text-indent: 2em;
}

section {
    margin-top: 0.8em;
    text-align: justify;
    padding: 0 1%;
}

section.ebookformats {
    padding: 0 2% 3%;
    display: flex;
    justify-content: center;
}

/*section.ebookformats img {*/
section.ebookformats a {
    display: inline-block;
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*width:36px; */
    padding: 0 4%;
    font-family: StoneSans, sans-serif;
    font-size: 1rem;
    text-decoration: underline;
}
article {
    text-indent: 4%;
    margin: 0.4em 0;
    text-align: justify;
    padding: 0 1%;
}
article:first-child {
    margin-top: 0.8em;
}
article:last-of-type {
    margin-bottom: 0.8em;
}

/*---------
 hyperlinks
 -------- */

a {
    text-decoration: none;
}
a:link {
    color: #3d3d3d;
}
a:visited {
    color: #707070;
}
a:active,
a:hover,
a:visited:hover {
    color: #b8b8b8;
    background: #transparent;
}
a.pdf:link {
    padding: 0;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 0.8em;
}
a.pdf img {
    width: 12px;
    vertical-align: middle;
    padding-left: 4%;
}

/*a.zip {text-decoration:none; }*/
a.zip:link {
    padding-left: 0;
    font-style: italic;
    font-family: StoneSans, sans-serif;
    margin-left: -2%;
}
a.zip img,
li.zip img {
    width: 18px;
    padding-right: 0.6em;
    vertical-align: -3px;
}
li.zip {
    color: #3d3d3d;
    font-style: italic;
}

a.buried {
    text-decoration: underline;
}

/*these keep the side bar items from fading out after being visited*/
.ebookItem a:visited,
.sidebar_left a:visited {
    color: #3d3d3d;
}
.ebookItem a:hover,
.ebookItem a:visited:hover,
.sidebar_left a:hover,
.sidebar_left a:visited:hover {
    color: #b8b8b8;
    background: transparent;
}
/*fade out images with mouse-over, and disable background gray fill*/
img.ebookImg:active,
img.ebookImg:hover,
img.ebookImg:visited:hover {
    opacity: 0.66;
    filter: alpha(opacity=66);
    background: transparent;
}
/*keep worldmap in navmenu from fading on hover*/
#worldMap img:active,
#worldMap img:hover,
#worldMap img:visited:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
/*not sure about this, seems like keeping nave menu items from changing; not sure why it would affect #nextbutton*/
#nextbutton a:active,
#nextbutton a:hover,
#nextbutton a:visited,
#nextbutton a:visited:hover,
.slicknav_menu a:active,
.slicknav_menu a:hover,
.slicknav_menu a:visited,
.slicknav_menu a:visited:hover {
    color: transparent;
}

/*these are the hyperlinks for the suttas*/
#sutta a:link,
#vinaya a:link {
    padding: 0 0.1em;
    color: #c05c26;
    text-decoration: underline;
}
#sutta a:hover,
#vinaya a:hover {
    color: #ff8847;
}
#sutta a:visited:hover,
#vinaya a:visited:hover {
    color: #b8b8b8;
}
#sutta a.outlink:link,
#vinaya a.outlink:link,
a.outlink:link {
    color: blue;
}

/******* Pali and chanting **********/
.pali {
    font-family: StoneSans, sans-serif;
}
.chant pre {
    font-family: inherit;
}
.chant .pali {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}
.chant .english {
    font-style: normal;
    margin: 0 +2% 1em;
}

/*-------------------
  new_index page
--------------------*/

dl {
    font-size: 1em;
}
dt {
    font-weight: bold;
    margin-top: 2em;
}
dd {
    margin-left: 4%;
    font-weight: normal;
    margin-top: 0.6em;
}

/*----------
  sitemap
-----------*/

#sitemap ul li {
    list-style-type: disc;
}
#sitemap ul li ul li {
    list-style-type: none;
}
#sitemap ul li ul li ul li {
    list-style-type: none;
}

/*this is for the duck duck go search box*/

#search_box {
    text-align: center;
    margin-top: 6%;
}
/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    /*padding: 0 0.625em;*/
    line-height: 1.125em;
    cursor: pointer;
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em;
}
img#masthead {
    float: left;
}
.slicknav_menu {
    *zoom: 1;
    max-width: 960px;
    z-index: 30;
    padding: 4px 32px 4px 8px;
    /*display:block;*/
    /*top: 0;*/
    /*width: 100%;*/
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
}
.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
    background: transparent;
    width: 1.125em;
    height: 0.875em;
    display: block;
    content: "";
    position: absolute;
}
.slicknav_menu .slicknav_no-text {
    margin: 0;
}
.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_menu:before {
    content: " ";
    display: table;
}
.slicknav_menu:after {
    content: " ";
    display: table;
    clear: both;
}

.slicknav_nav {
    clear: both;
}
.slicknav_nav ul {
    display: block;
}
.slicknav_nav li {
    display: block;
}
.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
    cursor: pointer;
}
.slicknav_nav .slicknav_item a {
    display: inline;
}
.slicknav_nav .slicknav_row {
    display: block;
}
.slicknav_nav a {
    display: block;
}
.slicknav_nav .slicknav_parent-link a {
    display: inline;
}

.slicknav_brand {
    float: left;
}

.slicknav_menu {
    font-size: 16px;
    box-sizing: border-box;
    background: #f0f0f0;
    /*padding: 5px; */
}
.slicknav_menu * {
    box-sizing: border-box;
}
.slicknav_menu .slicknav_menutxt {
    padding-top: 0.07em;
    font-family: StoneSans, sans-serif;
    color: #c05c26;
    font-weight: normal;
    /*text-shadow: 0 1px 3px #000; */
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #c05c26;
}

.slicknav_btn {
    margin: 24px 0;
    text-decoration: none;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*background-color: #222; */
}
.slicknav_btn:hover {
    background: #fff;
}
.slicknav_nav {
    font-family: StoneSans, sans-serif;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden;
}
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px;
}
.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    color: #3d3d3d;
}
.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #3d3d3d;
}
.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    color: #c05c26;
}
.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}
.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}
.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0;
}

.slicknav_brand {
    color: #3d3d3d;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
}

/******** I added this to erase orig nav menu ********/

#nav-wrapper {
    display: none;
}

/*------thai stuff---------*/
.th_nav {
    font-size: 1.0em;
    font-family: Norasi, sans-serif, serif;
}
.th_nav li ul li {
    white-space: nowrap;
}

/******** Yam added this ********/
@media (max-width: 800px) {
    .brand {
        display: none;
    }
}
@media (min-width: 800px) {
    .slicknav_menu {
        display: none;
    }

    #nav-wrapper {
        display: block;
        font-family: 'StoneSans', sans-serif;
        font-size: 15px;
        padding: 0.4% 0.5% 2.6%;
        background: #f0f0f0;
        box-shadow: inset 0 0 0 1px #ededed;
    }

    #nav-wrapper .brand {
        margin: 0;
    }

    #nav-wrapper a {
        display: block;
    }

    #nav-wrapper .brand,
    #nav-wrapper > ul {
        display: inline-block;
    }
    #nav-wrapper .brand a:hover {
        background: transparent;
    }

    #nav {
        margin: 0;
        padding: 1.8% 0 0 3%;
    }

    /**** 1st level menus ****/

    #nav > div,
    #nav > div > li,
    #nav > li {
        display: inline-block;
        font-size: 104%;
    }

    #nav > div > li > a,
    #nav > li > a {
        display: block;
        cursor: pointer;
        color: #3d3d3d;
        padding: 4px 14px 0;
    }
    #nav > div > li > a:hover,
    #nav > li > a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #fff;
        color: #c05c26;
    }

    #nav ul {
        display: none;
    }

    /**** 2nd level menus ****/
    #nav > div > li:hover > ul,
    #nav > li:hover > ul {
        display: block;
        position: absolute;
        text-align: left;
        margin: 0 0 1% -6px;
        padding: 2.5% 6px 4px;
        background: #f1f1f1;
    }
    #nav > div > li:hover ul > div > li > a,
    #nav > div > li:hover ul > li > a,
    #nav > li:hover ul > li > a {
        display: block;
        padding: 4px 12px 0;
        color: #3d3d3d;
    }
    #nav > div > li:hover ul > div > li > a:hover,
    #nav > div > li:hover ul > li > a:hover,
    #nav > li:hover ul > li > a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #fff;
        color: #c05c26;
    }

    /**** 3rd level menus ****/
    #nav > div > li:hover > ul > div > li:hover > ul,
    #nav > div > li:hover > ul > li:hover > ul,
    #nav > li:hover > ul > li:hover > ul {
        display: block;
        position: absolute;
        text-align: left;
        left: 100%;
        margin: 0 0 1% -6px;
        padding: 4px 6px;
        background: #f1f1f1;
        margin-top: -31px;
    }
    #nav > div > li:hover ul > div > li > a > div > li:hover ul > div > li > a,
    #nav > div > li:hover ul > li > a > div > li:hover ul > li > a,
    #nav > li:hover ul > li > a > li:hover ul > li > a {
        display: block;
        padding: 4px 12px 0;
        color: #3d3d3d;
    }
    #nav > div > li:hover ul > div > li > a:hover > div > li:hover ul > div > li > a:hover,
    #nav > div > li:hover ul > li > a:hover > div > li:hover ul > li > a:hover,
    #nav > li:hover ul > li > a:hover > li:hover ul > li > a:hover {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        background: #fff;
        color: #c05c26;
    }
}
/*--------------------
    Footer  Nav
--------------------*/
#nav-footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    line-height: 1em;
    padding: 0;
    text-align: center;
}
#nav-footer {
    width: 100%;
    float: left;
    min-width: 320px;
    padding: 0;
    background-color: #f0f0f0;
    box-shadow: inset 0 0 0 1px #ededed;
}
#nav-footer li {
    padding: 1% 4.7%;
    position: relative;
    line-height: 0;
    display: inline-block;
}
#nav-footer li a {
    text-decoration: none;
    padding: 2px 6px;
}
#nav-footer li a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
}
/*get rid of inherited left padding on ul*/
#nav-footer ul {
    padding-left: 0;
}
/*format next page button at bottom of page*/
div#nextbutton {
    padding: 6% 0;
    display: flex;
    justify-content: center;
}
#nextbutton img {
    display: inline-block;
    width: 36px;
    padding: 0 1em;
}
/*------------------------------
    responsive @media queries
-------------------------------*/
/*@media (min-width: 840px) {*/
/*#container {*/
/*width: 900px;*/
/*margin: auto;*/
/*}*/

/*#sutta {*/
/*font-size: 1.05em;*/
/*margin: auto;*/
/*width: 800px;*/
/*}*/
/*}*/

/*------
 Talks (audio)
------*/
img.play {
    width: 14px;
    margin-left: -3%;
    margin-right: 4%;
    cursor: pointer;
    /* nec. for mobile devices */
    vertical-align: -2px;
}
h2 img.play {
    width: 23px;
    margin: 0;
    padding-right: 2.4%;
}
h1 img.play {
    width: 29px;
    margin: 0;
    padding-right: 2.4%;
}
audio.play {
    display: block;
    margin-bottom: 12px;
    margin-top: 10px;
    margin-left: -3.2em;
    box-shadow: 3px 3px 5px #737373;
    border-left, border-top: 1px solid #e6e6e6;
    border-right, border-bottom: 1px solid #b3b3b3;
}
h1 audio.play,
h2 audio.play {
    margin: 0.5em auto;
}
.play-random button {
    color: #3d3d3d;
    border: transparent;
    background: white;
    padding: 0;
    margin-left: -2%;
    font-size: 18px;
    font-style: italic;
    font-family: StoneSans, sans-serif;
    cursor: pointer;
}

.play-random button img {
    width: 1em;
    vertical-align: -2px;
    margin-right: 0.6em;
}

.breadcrumbs {
  margin: 2% 4%;
  border-radius: 5px;
  background: #fafafa;
}

.breadcrumbs a {
  color: #666 !important;
  text-decoration: none !important;
  font-family: StoneSans, sans-serif;
  font-size: 10pt;
}
.breadcrumbs a:hover {
  color: #999 !important;
  text-decoration: underline !important;
}

.breadcrumbs span, .breadcrumbs a {
  display: inline-block;
  padding: 4px;
  padding-bottom: 2px;
}

.breadcrumbs .prefix {
  background: #eee;
  color: #666;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 8pt;
  text-transform: uppercase;
  font-family: StoneSans, sans-serif;
  padding-right: 0.666em;
}

.breadcrumbs .current a {
  color: #c05c26 !important;
}

/*h1 + .breadcrumbs {*/
  /*margin-top: 2%;*/
/*}*/

.archive .audio-search {
  padding-top: 3% !important;
}

.audio-search input {
  font-size: 13pt;
  padding: 1%;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #ccc;
  color: #333;
  width: 50%;
  display: inline-block;
}

.reset-audio-search {
  display: inline-block;
  position: relative;
  right: 28px;
  top: -2px;
  font-size: 10pt;
  background: #eee;
  border-radius: 40px;
  height: 1.333em;
  width: 1.333em;
  text-align: center;
  vertical-align: middle;
  font-family: StoneSans, sans-serif;
  text-transform: lowercase;
  cursor: pointer;
  color: #888;
  border: 1px solid #ddd;
}
/*Fix Firefox placeholder faded text weirdness*/
::-moz-placeholder {
    color:black;
    /*opacity:.5;*/
}
