h1 {
  margin: 0 4%;
  padding: 0;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  font-style: italic;
  font-weight: normal;
  font-family: "SabonNext_DP", serif;
}
h2 {
  margin: 1em 4%;
  font-size: 1.05em;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  font-family: "StoneSans_SC", sans-serif;
  padding: 0;
}
/*h3 {*/
  /*margin: 1.2em 4% 0.6em 4%;*/
  /*text-align: left;*/
  /*font-style: normal;*/
  /*font-weight: normal;*/
  /*font-size: 1.0em;*/
  /*font-family: "StoneSans", sans-serif;*/
/*}*/
/*------------
 Paragraphs
------------*/
p {
  text-indent: 4%;
  margin: 0.4em 0;
}
.first {
  margin-top: 1.2em;
}
.theraSubTitle {
  text-align: center;
}
.itiSecPP {
  margin-top: 1em;
  text-indent: 0;
}
.littlefirst {
  margin-top: 0.6em;
}
.iblock {
  margin: 0.8em 4%;
}
.iblock p {
  margin: 0;
}
.block {
  margin: 0.8em 4%;
}
.block p {
  margin: 0.4em 0;
  text-indent: 0;
}
.bblock {
  margin: 0.8em 8%;
}
.bblock p {
  margin: 0.4em 0;
  text-indent: 0;
}
.hblock {
  margin: 0.8em 8%;
}
.hblock p {
  margin: 0.4em 0;
  text-indent: -4%;
}
.no-i-block {
  margin: 0.8em 4%;
}
.no-i-block p {
  margin: 0;
  text-indent: 0;
}
.dblock {
  margin: 0.8em 8%;
}
.dblock p {
  margin: 0;
  text-indent: 0;
}
.hdblock {
  margin: 0.8em 8%;
}
.hdblock p {
  margin: 0;
  text-indent: 0;
}
.hdblock p.hang {
  margin-left: -4%;
}
.hdblock p.add {
  margin-top: 0.4em;
}
.sq-list {
  margin: 0.6em 0;
}
.sq-list p {
  margin: 0;
}
.pbreak {
  margin: 0.8em 0;
}
.note {
  margin: 0.6em 4%;
  font-size: 0.85em;
}
.note p {
  margin: 0;
}
.note p.notetitle {
  /*font-variant:small-caps;*/
  font-size: 1.2em;
  margin-top: 2.4%;
  margin-bottom: 1.2%;
  text-indent: 0;
  letter-spacing: 0.1em;
  font-family: "StoneSans_SC", sans-serif;
  /*text-transform: uppercase;*//*font-variant: small-caps;*/
}
p.seealso {
  margin-top: 0.8em;
  font-style: italic;
  font-size: 0.9em;
}
.signatures {
  text-indent: 40%;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.1em;
}
.signatures + .signatures {
  margin-top: 0;
  margin-bottom: 1em;
}
.address {
  text-indent: 0;
  /*margin: 1.2em 4%;*/
  font-size: 0.5em;
  font-style: normal;
  /*font-family: "TheMix 4-SemiLight Caps", sans-serif;*/
  text-transform: uppercase;
}
.address p {
  text-indent: 40%;
  margin-top: 0;
  margin-bottom: -1.2em;
  letter-spacing: 0.1em;
}
#glossary p {
  text-indent: 4%;
  margin-bottom: 0.4em;
}
.suttaCite {
  font-style: italic;
  margin-left: 50%;
  margin-top: 0.6em;
}
.dedication {
  text-align: center;
  margin: 0 18%;
  padding-top: 12%;
  text-indent: 0;
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.3em;
  /*font-family: "Sabon Next LT Pro Display", serif;*/
}
/*------------
 formatting
------------*/
em {
  font-style: italic;
}
.small-caps {
  font-variant: small-caps;
}
strong {
  font-weight: bold;
}
.fn /*superscript*/ {
  vertical-align: 0.4em;
  font-size: 0.6em;
}
.lc {
  text-transform: lowercase;
}
.normal {
  font-style: normal;
}
.smallcaps {
  font-variant: small-caps;
}
p.stars {
  text-indent: 0;
  text-align: center !important;
  letter-spacing: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.6em;
}
p.verse_stars {
  text-indent: 8% !important;
  text-align: left;
  letter-spacing: 0.5em;
  margin: 1em 0 0.6em 0;
}

/*-------------
  abbreviations
---------------*/
#abbreviations table {
  margin-left:6%;
  /*margin-left: auto;*/
  margin-right: auto;
}
#abbreviations td + td {
  padding: 0.2em 0 0.2em 6%;
}
#abbreviations td {
  font-style: italic;
}
#abbreviations p {
  font-style: italic;
  text-indent: 0;
  text-align: justify;
  margin: 0.6em 0;
}
/*-------------
  bibliography
---------------*/
.bibliography {
  margin: 0 6%;
}
.bibliography p {
  text-indent: -2%;
  font-size: 12pt;
  margin: 0.5em 0;
}
.bibliography p.block {
  text-indent: 0;
  margin: 1.5em -2%;
}
/*------------
   Verses
------------*/
.verse {
  margin: 0.8em 8%;
  text-indent: 0;
}
.normal {
  font-style: normal;
}
.verse-add {
  margin-top: 0.4em;
  text-indent: 0;
}
.verse p {
  text-indent: -2em;
  padding-left: 2em;
  margin: 0;
  text-align:initial !important;
}
p.vspk {
  margin-bottom: 0.1em;
  text-indent: -2.6em;
  font-style: italic;
}
p.v1 {
  text-indent: -2%;
  padding-left: 6%;
}
p.v2 {
  text-indent: -2%;
  padding-left: 10%;
}
p.v3 {
  text-indent: -2%;
  padding-left: 14%;
}
p.v4 {
  text-indent: -2%;
  padding-left: 18%;
}
p.v5 {
  text-indent: -2%;
  padding-left: 22%;
}
p.v6 {
  text-indent: -2%;
  padding-left: 26%;
}
p.v7 {
  text-indent: -2%;
  padding-left: 30%;
}
p.v8 {
  text-indent: -2%;
  padding-left: 34%;
}
