/*Don't have fonts on my machine: SabonNext, StoneSans, StoneSansSC(?)*/
/*----
table
-----*/
div.table  {
/*width:96%;*/
margin-left: auto;
margin-right: auto;
}
td.left p, td.right p {
text-indent:0;
margin: 0.2em 0;
}
table  {
width:100%;
margin: 1.5% 0; 
padding-top: .15in; 
padding-bottom: .15in; 
border-left: 2px solid #808080; 
border-right: 2px solid #808080; 
border-collapse: collapse;
/*border-style:none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset|initial|inherit;*/
}
tr  {
}
td {
width: 50%;  
vertical-align: top;
border: none; 
padding: .05em 0.15in; 
}
.full {
width: 100%;
padding: .12in 0.15in;
}
.left {
}
.right {
border-left: 2px solid #808080;
}
/*.note {*/
/*padding-top: 0.04in; */
/*padding-bottom: 0.04in; */
/*padding-left: 0.04in; */
/*padding-right: 0in*/
/*}*/

/*---------
paragraphs
----------*/


h3 {
  margin: 2.5% 0 2% 0;
  text-align: center;
  padding: 0;
  text-indent: 0;
  font-size: 2.5em;
  line-height: 1.2em;
  font-style: italic;
  font-weight: normal;
  font-family: "SabonNext_DP", serif;
}
.othertext {
color: #02077e;
}
.Commentary {
color: #02077e;
}
.Sub-commentary {
color: #02077e;
}
.sectionend  {
color: #606060;
font-style: italic;
}
.blue  {
color: #004586;
}
.thai  {
font-family : kinnari;
  font-size: 1.1em;
}

/*------------
 formatting
------------*/

.smaller {
	font-size:smaller ;
}
.small {
	font-size:small ;
}
